<div class="container py-4">
    <div class="text-center">
        <img src="/image.jpg" class="rounded-circle" />
        <h1 class="display-4 mb-4"><%= locals.heading %></h1>
        <p class="lead">
            <%= locals.subHeading %>
        </p>
        <a href="/about-us" class="btn btn-primary btn-lg mt-3">Learn More</a>

        <script>
            console.log("Welcome to EJS Express Boilerplate!");
        </script>
    </div>

</div>